*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', sans-serif;
    background: #f9f9f9;
    padding: 40px 20px;
}

.heading{
    text-align: center;
    font: 200;
    padding-bottom: 30px;
}


.price-div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

}

.cart{
    background: #fff;
    text-align: center;
    padding: 22px;
    width: 280px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0,0.8);
    transition: transform 0.3s ease , box-shadow 0.3s ease
}


.cart:hover{
    transform: translateY(-8px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.12);

}

.populer{
    border: 2px solid #007bff;
}

.cart ul{
    list-style: none;
    margin-bottom: 20px ;
}

.cart li{
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}
.cart button{
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cart button:hover{
    background-color: #0056b3;
}
.price{
    padding: 10px;
    color: #007bff;
    text-align: center;
}